# Rails ignores
*.rbc
*.sassc
**.orig
.bundle
.sass-cache
capybara-*.html
.rspec
rerun.txt
/.bundle
/Gemfile.lock
/log/*
/tmp/*
/db/*.sqlite3
/db/schema.rb
/vendor/bundle
/public/spec.html
/public/system/*
/coverage/
/spec/tmp/*
/rails_best_practices_output.html

# Linux ignores
.*
*~
*.sw[a-p]
.directory

# Vim ignores
.*.sw[a-z]
*.un~

# OSX ignores
.DS_Store?
Icon?
._*
.Spotlight-V100
.Trashes

# TextMate ignores
*.tmproj
*.tmproject
tmtags

# Rails Best Practices Study
/projects


/gh-pages
