<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>regedor/rails_best_practices_study @ GitHub</title>
  <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen, projection"/>
  <link rel="stylesheet" href="/css/highlight.css" type="text/css" media="screen, projection"/>
</head>

<body>
  <a href="https://github.com/regedor/rails_best_practices_study"><img style="position: absolute; top: 0; right: 0; border: 0;"
     src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  <div id="container">
	
    {% if page.title %}
      <a href="/"class="first button back-to-project">go to project page</a>
      <h1>{{ page.title }}</h1>
      {{ content }}
      {% if page.disqus %}
        <div class="disqus" id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = 'studygorgeouscode';
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
           })();
        </script>
      {% endif %}
      <a href="/"class="button back-to-project">go to project page</a>
    {% else %}
      {{ content }}
    {% endif %}

    <div class="footer">
      get the source code on GitHub:
      <a href="https://github.com/regedor/rails_best_practices_study">regedor/rails_best_practices_study</a>
    </div>
  </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-30223999-1");
pageTracker._trackPageview();
} catch(err) {}</script>"
</body>
</html>
